# Hello Pandas

In [18]:
import pandas as pd
from faker import Faker
import json

faker = Faker()

profiles = []
for i in range(10):
    profiles.append(faker.simple_profile()) 

df = pd.read_json(json.dumps(profiles, default=str))

In [19]:
df

,username,name,sex,address,mail,birthdate
0,lallen,Daniel Richardson,M,"978 Brian Islands\nLake Kathleen, PR 28443",cindy75@gmail.com,1924-05-17
1,hartgail,Courtney Reid,F,"946 Smith Brooks\nLynnbury, CO 97894",joshuagarrett@yahoo.com,1943-08-02
2,rachel29,Gary Taylor,M,"14534 Michael Common\nSouth Nathan, VA 84174",cliffordmurphy@gmail.com,1977-02-01
3,catherineharrell,Brian Mclean,M,686 Villanueva Roads Suite 820\nEast Johnchest...,wrightjoseph@hotmail.com,1942-08-03
4,penaamy,Michael Mcgee,M,"472 Charles Prairie\nLake Natasha, IL 63949",michael42@gmail.com,2022-07-12
5,josephestrada,Jared Davila,M,"026 Stephen Tunnel\nGeorgechester, KY 49016",dsullivan@gmail.com,1920-06-18
6,deckerbrenda,Matthew Terry,M,"495 Weiss Gardens Apt. 185\nNorth Kimberly, VI...",robert54@hotmail.com,1992-02-18
7,scott39,Jennifer Howard,F,"1828 Kline Throughway\nNew Andrewborough, MS 8...",rayperez@gmail.com,1952-08-22
8,pwood,Richard Murray,M,"7681 Mcintosh Villages\nEast Alexander, MT 14784",delgadoshelly@yahoo.com,2011-03-24
9,ericwarren,Robert Roberts,M,"76386 Amy Gateway Suite 225\nNorth Kimberly, O...",nicholassmith@gmail.com,1965-02-19